@import "tailwindcss";
@import "flowbite/dist/flowbite.css";


@theme {
  --animate-shake: shake 0.5s ease-in-out;

  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-5px); }
    40%, 80% { transform: translateX(5px); }
  }
}

